<footer class="flex-no-shrink py-8 text-grey-dark border-t border-grey-lighter bg-white">
  <div class="w-full max-w-3xl mx-auto px-6 flex items-center justify-between flex-wrap">
    <span>&copy; <%= Date.today.year %> <%= Rails.configuration.application_name %>. All rights reserved.</span>
  </div>
</footer>
