<% flash.each do |msg_type, message| %>
  <div class="alert <%= tailwind_class_for(msg_type) %>">
    <div class="container mx-auto">
      <button class="close" data-dismiss="alert"><span>×</span></button>
      <%= message %>
    </div>
  </div>
<% end %>
