<div class="flex justify-center">
  <div class="w-full max-w-xl2">
    <h1 class="font-semibold text-3xl lg:text-4xl leading-none mb-6">Edit <%= singular_table_name.capitalize %></h1>

    <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  </div>
</div>
