<div class="flex justify-center">
  <div class="w-full max-w-xl2">
    <h1 class="font-semibold text-3xl lg:text-4xl xl:text-5xl leading-none my-6">Show <%= singular_table_name %></h1>

    <dl class="dl-horizontal">
      <%- attributes.each do |attribute| -%>
      <dt><%= attribute.human_name %>:</dt>
      <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>

      <%- end -%>
    </dl>
  </div>
</div>
